<header>
    <nav class="header-nav">
        <a class="header-title" href="/">ThoughtCrtl</a>
        <ul>
            <li><a href="/authors">Languages</a></li>
            <li><a href="/authors/new">Add Language</a></li>
            <li><a href="/books">Videos</a></li>
            <li><a href="/books/new">Add Videos</a></li>
        </ul>
    </nav>
</header>